In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
movies = pd.read_csv("dataset_movies.csv")
rotten = pd.read_csv("dataset2_rotten_tomatoes_movies.csv")

In [3]:
#First 20 rows to see how data looks
movies.head()

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States

In [4]:
#First 20 rows to see how data looks
rotten.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0,254287.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0,11567.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0,14670.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0,105000.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0,68860.0

In [5]:
#Missing values_movies
movies.isnull().sum()

Title                 0
Rating                1
Year                  0
Month                 0
Certificate          34
Runtime               0
Directors             0
Stars                 0
Genre                 0
Filming_location      0
Budget                0
Income                0
Country_of_origin     0
dtype: int64

In [6]:
movies.dtypes

Title                 object
Rating               float64
Year                   int64
Month                 object
Certificate           object
Runtime               object
Directors             object
Stars                 object
Genre                 object
Filming_location      object
Budget                object
Income                object
Country_of_origin     object
dtype: object

In [7]:
rotten.dtypes

movie_title            object
movie_info             object
critics_consensus      object
rating                 object
genre                  object
directors              object
writers                object
cast                   object
in_theaters_date       object
on_streaming_date      object
runtime_in_minutes    float64
studio_name            object
tomatometer_status     object
tomatometer_rating      int64
tomatometer_count       int64
audience_rating       float64
audience_count        float64
dtype: object

In [8]:
#Turn "Unknown" into missing values (NaN)
movies = movies.replace('Unknown', np.nan)

In [9]:
rotten.replace('Unknown', np.nan)

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0,254287.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0,11567.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0,14670.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0,105000.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0,68860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,Zoot Suit,"Based on a 1940s Los Angeles murder trial, thi...",NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2003-05-27,104.0,MCA Universal Home Video,Rotten,56,9,74.0,1192.0
16634,Zootopia,The modern mammal metropolis of Zootopia is a ...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified Fresh,97,279,92.0,100946.0
16635,Zorba the Greek,If ever there was a role that Anthony Quinn wa...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2004-08-03,142.0,Fox,Fresh,78,9,87.0,7126.0
16636,Zulu,"Filmed on a grand scale, Zulu is a rousing rec...",NaN,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2001-02-02,139.0,Paramount Pictures,Fresh,95,21,91.0,30170.0
16637,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2005-09-27,117.0,Tango Entertainment,Rotten,57,7,62.0,4464.0

In [10]:
#Missing values_rotten
rotten.isnull().sum()

movie_title              0
movie_info              24
critics_consensus     8329
rating                   0
genre                   17
directors              114
writers               1349
cast                   284
in_theaters_date       815
on_streaming_date        2
runtime_in_minutes     155
studio_name            416
tomatometer_status       0
tomatometer_rating       0
tomatometer_count        0
audience_rating        252
audience_count         252
dtype: int64

In [11]:
movies.isnull().sum()

Title                  0
Rating                 1
Year                   0
Month                  0
Certificate           34
Runtime                2
Directors              0
Stars                  0
Genre                  0
Filming_location      76
Budget               304
Income               145
Country_of_origin      0
dtype: int64

In [12]:
#Convert to USD
exchange_rates = {
    '$': 1,          
    '€': 1.08,        
    '£': 1.27,           
    '₹': 0.012,        
    '₩': 0.00074,
    '¥': 0.0067,         
    'CN¥': 0.14,         
    'A$': 0.66,           
    'CA$': 0.74,          
    'SEK': 0.095,        
    'DKK': 0.15,          
    'NOK': 0.095,         
}

In [13]:
symbols = sorted(exchange_rates.keys(), key=len, reverse=True)

In [14]:
def parse_currency(value):
    if pd.isna(value):
        return pd.Series([np.nan, np.nan])

    s = str(value).strip()

    currency = np.nan
    for sym in symbols:
        if s.startswith(sym):
            currency = sym
            s = s[len(sym):].strip() 
            break

    if pd.isna(currency):
        return pd.Series([np.nan, np.nan])

    num_str = re.sub(r'[^0-9.]', '', s)
    if num_str == '':
        amount = np.nan
    else:
        amount = float(num_str)

    return pd.Series([currency, amount])

In [15]:
movies[['currency', 'amount']] = movies['Budget'].apply(parse_currency)

In [16]:
movies['Budget_USD'] = movies.apply(
    lambda row: row['amount'] * exchange_rates.get(row['currency'], np.nan),
    axis=1
)

In [17]:
movies[['Budget', 'currency', 'amount', 'Budget_USD']].head(20)

           Budget currency       amount   Budget_USD
0   $350,000,000         $  350000000.0  350000000.0
1    $35,000,000         $   35000000.0   35000000.0
2    $85,900,000         $   85900000.0   85900000.0
3             NaN      NaN          NaN          NaN
4    $12,000,000         $   12000000.0   12000000.0
5   $120,000,000         $  120000000.0  120000000.0
6    $80,000,000         $   80000000.0   80000000.0
7    $20,000,000         $   20000000.0   20000000.0
8    $10,000,000         $   10000000.0   10000000.0
9    $40,000,000         $   40000000.0   40000000.0
10   $35,000,000         $   35000000.0   35000000.0
11   $78,000,000         $   78000000.0   78000000.0
12    $1,000,000         $    1000000.0    1000000.0
13   $16,000,000         $   16000000.0   16000000.0
14  $195,000,000         $  195000000.0  195000000.0
15  $100,000,000         $  100000000.0  100000000.0
16            NaN      NaN          NaN          NaN
17            NaN      NaN          NaN          NaN
18            NaN      NaN          NaN          NaN
19  $250,000,000         $  250000000.0  250000000.0

In [18]:
movies[['income_currency', 'income_amount']] = movies['Income'].apply(parse_currency)

In [19]:
movies['Income_USD'] = movies.apply(
    lambda row: row['income_amount'] * exchange_rates.get(row['income_currency'], np.nan),
    axis=1
)

In [20]:
movies[['Income', 'income_currency', 'income_amount', 'Income_USD']].head(20)

             Income income_currency  income_amount    Income_USD
0   $2,267,946,983                $   2.267947e+09  2.267947e+09
1         $108,967                $   1.089670e+05  1.089670e+05
2     $239,268,602                $   2.392686e+08  2.392686e+08
3      $19,720,823                $   1.972082e+07  1.972082e+07
4     $171,253,910                $   1.712539e+08  1.712539e+08
5               NaN             NaN            NaN           NaN
6      $31,245,810                $   3.124581e+07  3.124581e+07
7      $59,595,460                $   5.959546e+07  5.959546e+07
8      $31,104,312                $   3.110431e+07  3.110431e+07
9       $9,500,361                $   9.500361e+06  9.500361e+06
10     $65,878,071                $   6.587807e+07  6.587807e+07
11     $61,851,455                $   6.185146e+07  6.185146e+07
12     $14,779,858                $   1.477986e+07  1.477986e+07
13     $14,134,907                $   1.413491e+07  1.413491e+07
14    $391,273,355                $   3.912734e+08  3.912734e+08
15              NaN             NaN            NaN           NaN
16              NaN             NaN            NaN           NaN
17              NaN             NaN            NaN           NaN
18              NaN             NaN            NaN           NaN
19    $791,852,924                $   7.918529e+08  7.918529e+08

In [21]:
movies.isnull().sum()

Title                  0
Rating                 1
Year                   0
Month                  0
Certificate           34
Runtime                2
Directors              0
Stars                  0
Genre                  0
Filming_location      76
Budget               304
Income               145
Country_of_origin      0
currency             304
amount               304
Budget_USD           304
income_currency      145
income_amount        145
Income_USD           145
dtype: int64

In [22]:
rotten.isnull().sum()

movie_title              0
movie_info              24
critics_consensus     8329
rating                   0
genre                   17
directors              114
writers               1349
cast                   284
in_theaters_date       815
on_streaming_date        2
runtime_in_minutes     155
studio_name            416
tomatometer_status       0
tomatometer_rating       0
tomatometer_count        0
audience_rating        252
audience_count         252
dtype: int64

In [25]:
#Drop missing values
movies = movies.dropna()
rotten = rotten.dropna()

In [26]:
len(movies)

1605

In [27]:
len(rotten)

7610

In [28]:
#Compute profit and ROI
movies['Profit_USD'] = movies['Income_USD'] - movies['Budget_USD']
movies['ROI'] = movies['Profit_USD'] / movies['Budget_USD']
movies['ROI_pct'] = movies['ROI'] * 100

#ROI(Return On Investment) - how much profit you made compared to how much you invested.

In [29]:
movies[['Title', 'Budget', 'Income', 'Budget_USD', 'Income_USD', 'Profit_USD', 'ROI_pct']].head()

,Title,Budget,Income,Budget_USD,Income_USD,Profit_USD,ROI_pct
0,Avatar: The Way of Water,"$350,000,000","$2,267,946,983",350000000.0,2.267947e+09,1.917947e+09,547.984852
1,Guillermo del Toro's Pinocchio,"$35,000,000","$108,967",35000000.0,1.089670e+05,-3.489103e+07,-99.688666
2,Bullet Train,"$85,900,000","$239,268,602",85900000.0,2.392686e+08,1.533686e+08,178.543192
4,M3gan,"$12,000,000","$171,253,910",12000000.0,1.712539e+08,1.592539e+08,1327.115917
6,Amsterdam,"$80,000,000","$31,245,810",80000000.0,3.124581e+07,-4.875419e+07,-60.942737

In [30]:
movies['user_id'] = movies['Title'].astype(str).str.strip().str.lower()
rotten['id']      = rotten['movie_title'].astype(str).str.strip().str.lower()

In [31]:
rotten['release_date'] = pd.to_datetime(rotten['in_theaters_date'], errors='coerce')
rotten['year'] = rotten['release_date'].dt.year

In [32]:
rotten_sorted = rotten.sort_values('release_date')

rotten_unique = rotten_sorted.drop_duplicates(
    subset=['movie_title', 'year'],
    keep='first'
)

rotten_filtered = rotten_unique[
    [ 'movie_title','year',
     'studio_name', 'tomatometer_status', 'tomatometer_rating',
     'tomatometer_count', 'audience_rating', 'audience_count']
]

In [33]:
movies['year'] = movies['Year']          
rotten['year'] = pd.to_datetime(rotten['in_theaters_date']).dt.year

merged = movies.merge(
    rotten_filtered,
    how='left',
    left_on=['Title', 'year'],
    right_on=['movie_title', 'year']
)

print(len(movies), len(merged))

1605 1605

In [39]:
merged.head(20)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,...,ROI_pct,user_id,year,movie_title,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,...,547.984852,avatar: the way of water,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,...,-99.688666,guillermo del toro's pinocchio,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,...,178.543192,bullet train,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,...,1327.115917,m3gan,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,...,-60.942737,amsterdam,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Violent Night,6.9,2022,December,R,112,Tommy Wirkola,"David Harbour, John Leguizamo, Beverly D Angel...","Action, Comedy, Crime",Canada,...,197.977300,violent night,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,The Whale,7.8,2022,December,R,117,Darren Aronofsky,"Brendan Fraser, Sadie Sink, Ty Simpkins, Hong ...",Drama,USA,...,211.043120,the whale,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,The Fabelmans,7.6,2022,November,PG-13,151,Steven Spielberg,"Michelle Williams, Gabriel LaBelle, Paul Dano,...",Drama,USA,...,-76.249097,the fabelmans,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,The Menu,7.5,2022,November,R,107,Mark Mylod,"Ralph Fiennes, Anya Taylor Joy, Nicholas Hoult...","Comedy, Horror, Thriller",USA,...,88.223060,the menu,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Babylon,7.3,2022,December,R,188,Damien Chazelle,"Brad Pitt, Margot Robbie, Jean Smart, Olivia W...","Comedy, Drama, History",USA,...,-20.703263,babylon,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,X,6.6,2022,March,R,105,Ti West,"Mia Goth, Jenna Ortega, Brittany Snow, Kid Cudi","Horror, Mystery, Thriller",New Zealand,...,1377.985800,x,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bones and All,7.0,2022,November,R,131,Luca Guadagnino,"Timoth e Chalamet, Taylor Russell, Mark Rylanc...","Drama, Horror, Romance",USA,...,-11.656831,bones and all,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Black Adam,6.5,2022,October,PG-13,125,Jaume Collet Serra,"Dwayne Johnson, Aldis Hodge, Pierce Brosnan, N...","Action, Adventure, Fantasy",USA,...,100.653003,black adam,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Black Panther: Wakanda Forever,6.8,2022,November,PG-13,161,Ryan Coogler,"Letitia Wright, Lupita Nyong o, Danai Gurira, ...","Action, Adventure, Drama",USA,...,216.741170,black panther: wakanda forever,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Glass Onion: A Knives Out Mystery,7.6,2022,December,PG-13,140,Rian Johnson,"Daniel Craig, Edward Norton, Kate Hudson, Dave...","Comedy, Crime, Drama",Greece,...,-66.800000,glass onion: a knives out mystery,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Triangle of Sadness,7.6,2022,September,R,147,Ruben stlund,"Thobias Thorwid, Harris Dickinson, Charlbi Dea...","Comedy, Drama",Greece,...,59.362454,triangle of sadness,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Everything Everywhere All at Once,8.1,2022,March,R,139,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Jamie Lee Curtis...","Action, Adventure, Comedy",USA,...,313.537444,everything everywhere all at once,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Emily the Criminal,6.7,2022,August,R,97,John Patton Ford,"Aubrey Plaza, Theo Rossi, Bernardo Badillo, Jo...","Crime, Drama, Thriller",Mexico,...,-28.123467,emily the criminal,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Don't Worry Darling,6.2,2022,September,R,123,Olivia Wilde,"Florence Pugh, Harry Styles, Chris Pine, Olivi...","Drama, Thriller",USA,...,333.547015,don't worry darling,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Pinocchio,5.1,2022,September,PG,105,Robert Zemeckis,"Joseph Gordon Levitt, Tom Hanks, Benjamin Evan...","Adventure, Comedy, Drama",Italy,...,-99.975098,pinocchio,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Numnber of rows with a non-missing rating
rating_not_missing = len(merged) - merged['tomatometer_rating'].notna().sum()
print(rating_not_missing)

482

In [23]:
movies['Genre_list'] = movies['Genre'].str.split(',').apply(lambda x: [g.strip() for g in x])

movies_exploded = movies.explode('Genre_list')

In [37]:
movies.head()

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,...,Budget_USD,income_currency,income_amount,Income_USD,Genre_list,Profit_USD,ROI,ROI_pct,user_id,year
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,...,350000000.0,$,2.267947e+09,2.267947e+09,"[Action, Adventure, Fantasy]",1.917947e+09,5.479849,547.984852,avatar: the way of water,2022
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,...,35000000.0,$,1.089670e+05,1.089670e+05,"[Animation, Drama, Family]",-3.489103e+07,-0.996887,-99.688666,guillermo del toro's pinocchio,2022
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,...,85900000.0,$,2.392686e+08,2.392686e+08,"[Action, Comedy, Thriller]",1.533686e+08,1.785432,178.543192,bullet train,2022
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,...,12000000.0,$,1.712539e+08,1.712539e+08,"[Horror, Sci-Fi, Thriller]",1.592539e+08,13.271159,1327.115917,m3gan,2022
6,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,...,80000000.0,$,3.124581e+07,3.124581e+07,"[Comedy, Drama, History]",-4.875419e+07,-0.609427,-60.942737,amsterdam,2022